* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region <HEADER> styling*/
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header a {
    text-decoration: none;
    color: black /*temporary*/
}

header nav {
    margin: 7px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li a {
    padding: 10px 40px;
    font-size: 25px;
    border: solid;
    border-radius: 15px;
    margin: 0 20px;
}
/*#endregion*/

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 100px;
}

.about-me h2 {
    margin: 0;
    border-right: solid 3px;
    font-size: 30px;
    width: 20%;
    text-align: center;
}

.my-info {
    flex: 1;
    margin: 0 20px 0 40px;
}

.my-info p {
    font-size: 20px;
}

.projects {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects img {
    width: 100%;
}

.work {
    border: solid 3px;
    flex: 0 0 40%;
    margin: 20px;
}