* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region <HEADER> styling*/
header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header a {
    text-decoration: none;
    color: black /*temporary*/
}

header nav {
    margin: 7px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li a {
    padding: 10px 40px;
    font-size: 25px;
}
/*#endregion*/

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 100px;
}

.about-me h2 {
    margin: 0;
    padding-right: 175px;
    /*border-right: solid 3px;*/
    font-size: 50px;
}

.border {
    border-left: solid 3px;
    padding: 0 0 0 20px;
}

.my-info {
    flex: 1;
    margin: 0 20px 0 40px;
}

.my-info p {
    font-size: 20px;
}